apache-airflow-providers-google
pandas
google-api-python-client
google-auth
google-auth-oauthlib
google-cloud-bigquery
gspread
oauth2client
boto3
selenium>=4.0.0
pandas_gbq
beautifulsoup4
requests
openpyxl
python-dateutil
geckodriver-autoinstaller
webdriver-manager>=3.0.0
chromedriver-autoinstaller==0.6.2
undetected-chromedriver